.login-wrapper {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.login-header {
  display: flex;
  justify-content: center;
}
.login-input {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  justify-content: center;
}
.login-input input {
  padding-left: 5px;
}

.login-btn {
  display: flex;
  justify-content: space-around;
}